@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        display: block
    }
    body {
        @apply bg-crust transition-colors duration-700
    }
    main {
        @apply bg-base text-text outline outline-1 outline-slate-400 drop-shadow-md transition-colors duration-700
    }
    h1 {
        @apply text-2xl font-bold py-2 mt-3 mb-1 text-text
    }
    h2 {
        @apply text-xl font-bold py-2 mt-3 text-subtext1
    }
    h3 {
        @apply text-lg font-semibold italic mt-5 text-subtext0
    }
    h4 {

    }
    a {
        @apply text-cyan-700 dark:text-sapphire font-semibold
    }
    pre {
        @apply p-2 w-full
    }
    code {
        @apply py-2 px-4 rounded-lg outline outline-1 outline-slate-400 drop-shadow-md
    }
    code span {
    }
    @media (hover: hover) {
        a:hover {
            @apply invert drop-shadow-2xl transition-all duration-300 ease-in
        }
    }
    .button {
        @apply border-black border rounded bg-surface0 font-semibold transition-all ease-in-out duration-300
    }
    .button:hover {
        @apply bg-overlay0 text-white drop-shadow-lg
    }
    .button:active {
        @apply drop-shadow-md bg-overlay2
    }
}

@layer components {
    ul[class*="ulist"] {
        @apply list-disc ml-8 mt-1
    }
    .me {
        @apply rounded-[5em]
    }
    .header {
        nav {
            @apply mt-2 mb-5 h-auto md:h-12 p-2 md:p-4 gap-2 md:gap-6
            drop-shadow-md bg-base md:rounded-lg
            outline outline-1 outline-overlay0 transition-all duration-700
        }
        div {
            @apply w-full
        }
        ul {
            @apply w-full flex flex-grow justify-center flex-row gap-5 lg:gap-16 items-center list-none
            transition-all duration-700
        }
        a {
            @apply text-cyan-700 dark:text-sapphire text-lg font-bold
        }
    }
    .darkMode_toggle {
            @apply h-8 w-14 md:w-10 p-1 bg-crust text-sapphire transition-all ease-in duration-300
            outline outline-1 outline-overlay0 font-bold rounded-md
            [@media(hover:hover)]:hover:bg-sapphire [@media(hover:hover)]:hover:text-base
    }

    .tags {
        @apply text-overlay0
    }
    .quote-container {
        @apply w-full lg:w-4/5 italic bg-sapphire/75 dark:bg-sapphire rounded-lg
        my-4 mx-auto border-l-[1ex] border-l-surface2 drop-shadow-md outline outline-1 outline-surface2
    }
    .quote {
        @apply w-full text-slate-800 dark:text-surface0 p-2 pb-2 lg:p-4 lg:pb-2
    }
    .quote-source {
        @apply text-text bg-base text-sm w-full p-2 py-1 lg:py-2 lg:p-4 rounded-br-lg
    }
    .note-container {
        @apply w-full bg-base lg:w-4/5 rounded-lg my-4 mx-auto font-extrabold text-xl
        border-l-[1ex] border-l-surface2 drop-shadow-md outline outline-1 outline-surface2
    }
    .note {
        @apply text-white dark:text-base bg-green
    }
    .warning {
        @apply text-white dark:text-base bg-yellow
    }
    .error {
        @apply text-white dark:text-base bg-red
    }

    #grid {
        @apply select-none
    }

}

@layer utilities {
    .preload-transitions * {
        display: none;
        opacity: 0;
    }
}

code[data-theme*=' '] {
    @apply overflow-scroll
}
code[data-theme*=' '],
code[data-theme*=' '] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
    @apply transition-colors duration-700
}

html[class*='dark']{
    @media (prefers-color-scheme: dark) {
        code[data-theme*=' '],
        code[data-theme*=' '] span {
            color: var(--shiki-dark);
            background-color: var(--shiki-dark-bg);
        }
    }
}
