@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        display: block
    }
    body {
        @apply bg-crust transition-colors duration-700
    }
    main {
        @apply bg-base text-text outline outline-1 outline-slate-400 drop-shadow-md transition-colors duration-700
    }
    h1 {
        @apply text-2xl font-bold py-2 mt-3 mb-1 text-text
    }
    h2 {
        @apply text-xl font-semibold py-2 mt-3 text-subtext0
    }
    h3 {
        @apply text-lg italic mt-5
    }
    h4 {

    }
    a {
        @apply text-blue font-semibold
    }
    pre {
        @apply p-2 w-full
    }
    code {
        @apply py-2 px-4 rounded-lg outline outline-1 outline-slate-400 drop-shadow-md
    }
    code span {
    }
    @media (hover: hover) {
        a:hover {
            @apply invert drop-shadow-2xl transition-all duration-300 ease-in
        }
    }
}
@layer components {
    ul[class*="ulist"] {
        @apply list-disc ml-8 mt-1
    }
    .header {
        a {
            @apply text-sapphire
        }
    }
    .tags {
        @apply text-overlay0
    }
}


code[data-theme*=' '],
code[data-theme*=' '] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
    @apply transition-colors duration-700
}

html[class*='dark']{
    @media (prefers-color-scheme: dark) {
        code[data-theme*=' '],
        code[data-theme*=' '] span {
            color: var(--shiki-dark);
            background-color: var(--shiki-dark-bg);
        }
    }
}
